<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Chatbot</title>
</head>
<body>
    <h1>Chatbot</h1>
    <div>
        <form action="/chat" method="post">
            <label for="user_message">You:</label>
            <input type="text" id="user_message" name="user_message" required>
            <input type="submit" value="Send">
        </form>
    </div>
    {% if response %}
    <div>
        <p>{{ response }}</p>
    </div>
    {% endif %}
</body>
</html>
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Chatbot</title>
</head>
<body>
    <div class="container">
        <div class="chat-container">
            <div class="chat-header">
                <h1>Chatbot</h1>
            </div>
            <div class="chat-body" id="chat-body">
                <!-- Chat messages will be displayed here -->
            </div>
            <div class="chat-input">
                <form id="chat-form">
                    <input type="text" id="user_message" name="user_message" required autocomplete="off">
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
